body{
    background: lightpink;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.colOne{
    background: darkred;
    padding: 20px;
    border-radius: 20px;

}
label{
    color: white;
    font-size: 18px;
}
.topMenu{
    background: darkred;
}



